   // <Carousel
    //   className=""
    //   prevArrow={({ handlePrev }) => (
    //     <IconButton
    //       variant="text"
    //       color="white"
    //       size="lg"
    //       onClick={handlePrev}
    //       className="!absolute top-2/4 left-4 -translate-y-2/4 lg:block hidden"
    //     >
    //       <svg
    //         xmlns="http://www.w3.org/2000/svg"
    //         fill="none"
    //         viewBox="0 0 24 24"
    //         strokeWidth={2}
    //         stroke="currentColor"
    //         className="h-6 w-6"
    //       >
    //         <path
    //           strokeLinecap="round"
    //           strokeLinejoin="round"
    //           d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
    //         />
    //       </svg>
    //     </IconButton>
    //   )}
    //   nextArrow={({ handleNext }) => (
    //     <IconButton
    //       variant="text"
    //       color="white"
    //       size="lg"
    //       onClick={handleNext}
    //       className="!absolute top-2/4 !right-4 -translate-y-2/4 lg:block hidden"
    //     >
    //       <svg
    //         xmlns="http://www.w3.org/2000/svg"
    //         fill="none"
    //         viewBox="0 0 24 24"
    //         strokeWidth={2}
    //         stroke="currentColor"
    //         className="h-6 w-6"
    //       >
    //         <path
    //           strokeLinecap="round"
    //           strokeLinejoin="round"
    //           d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
    //         />
    //       </svg>
    //     </IconButton>
    //   )}
    // >
    //   {
    //     Banner.map((values)=>(
    //       <>
    //       {values.content}
    //       { values.id == 1 &&
    //         <div className="absolute inset-0 grid h-full w-full place-items-center bg-black/25 ">
    //         <div className="left-10 lg:w-[1440px] lg:px-24 px-10">
    //           <h2 className="mb-2 text-orange-600 font-semibold bannerTextLeading">
    //             Earn your PMP Certificate <br /> in just 35 hours!
    //           </h2>
  
    //           <ul className="mt-4 lg:text-xl">
    //             <li className="text-white mt-2">
    //               - Aligned with PMBOK- 7th edition
    //             </li>
    //             <li className="text-white mt-2">- Comprehensive learning aids</li>
    //             <li className="text-white mt-2">
    //               - Enjoy 1-year access to PMI Digital Material
    //             </li>{" "}
    //           </ul>
  
    //           <Button
    //             className="mt-10 px-8 py-4 rounded bg-orange-600 font-light"
    //             onClick={() => handleScroll(scrollToRef)}
    //           >
    //             Enroll Now
    //           </Button>
    //         </div>
    //       </div>
    //       }
    //       </>
    //     ))
    //   }
      {/* <div>
       
        <div className="absolute inset-0 grid h-full w-full place-items-center bg-black/25 ">
          <div className="left-10 lg:w-[1440px] lg:px-24 px-10">
            <h2 className="mb-2 text-orange-600 font-semibold bannerTextLeading">
              Earn your PMP Certificate <br /> in just 35 hours!
            </h2>

            <ul className="mt-4 lg:text-xl">
              <li className="text-white mt-2">
                - Aligned with PMBOK- 7th edition
              </li>
              <li className="text-white mt-2">- Comprehensive learning aids</li>
              <li className="text-white mt-2">
                - Enjoy 1-year access to PMI Digital Material
              </li>{" "}
            </ul>

            <Button
              className="mt-10 px-8 py-4 rounded bg-orange-600 font-light"
              onClick={() => handleScroll(scrollToRef)}
            >
              Enroll Now
            </Button>
          </div>
        </div>
      </div> */}
      
    // </Carousel>